<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">This is WebApp for generating Parts of Speech tags</h1>
<form action="/pos_tag" method="post">
    <p align="center">Enter Text here:</p>
    <p align="center"><textarea id="text" name="text" rows="5" cols="100">
    </textarea></p>
    <p align="center"><input type="submit" value="Generate PoS tags"></p>
</form>
<center>
<div style="width:70%" align="center">
<p align="center">Original Sentence:</p>
<p align="center">
    {{data}}
</p>
<p align="center">Generated PoS tags:</p>
<p align="center">
    {{response}}
</p>
</div></center>
</body>
</html>